*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 300px;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
}
h1{
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
}
h3{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}
.container{
    background-color: rgba(133, 129, 129, 0.795);
    border: 5px solid rgba(224, 6, 6, 0.781);
    border-radius: 7px;
}
.recepcion{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;}
#lista-productos{
    display: none;
    justify-content:center;
    flex-direction: column;
}

.lista{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.lista li{
    display: none;
}
.row{
    justify-content: space-evenly;
}
.imgCategoria{
    width:30%;
    border-radius: 30px;
    padding: 7px;
}